.banner_news.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.banner_span {
    margin: 13px auto;
    color: #848484;
    text-align: center;
}

.visited {
    color: #848484;
}

.this_page {
    color: var(--orange);
}

.banner_news h1 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 33px;
    line-height: 180.5%;
    text-align: center;
}

.search {
    max-width: 400px;
    position: relative;
    margin: 74px auto 10px auto;
}

.search input {
    background: #F1F1F1;
    color: #727272;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 9px 15px 10px 60px;
}

.btn_search {
    position: absolute;
    color: #727272;
    border: none;
    left: 17px;
    top: 10px;
}

@media (max-width: 992px) {
    .banner_news.container {
        padding-top: 80px;
    }

    .search {
        margin-top: 64px;
    }

    .banner_span {
        margin-top: 20px;
        font-size: 14px;
    }

    .banner_news h1 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .banner_news.container {
        padding-top: 70px;
    }

    .banner_span {
        margin-top: 23px;
        font-size: 13px;
    }

    .search {
        margin-top: 54px;
    }

    .banner_news h1 {
        font-size: 27px;
        max-width: 530px;
    }
}

@media (max-width: 576px) {
    .banner_news.container {
        padding-top: 60px;
    }

    .banner_span {
        margin-top: 30px;
        font-size: 12px;
    }

    .search {
        margin-top: 44px;
    }

    .banner_news h1 {
        font-size: 25px;
        max-width: 480px;
    }
}

@media (max-width: 576px) {
    .banner_news.container {
        padding-top: 60px;
    }

    .banner_span {
        max-width: 263px;
        margin-top: 33px;
        font-size: 12px;
    }

    .search {
        margin-top: 44px;
        max-width: 325px;
    }

    .banner_news h1 {
        font-size: 25px;
        max-width: 480px;
    }
}