.hero.container {
    padding-top: 80px;
    padding-bottom: 85px;
}

.hero p {
    max-width: 545px;
}

.img_hero {
    max-width: 924px;
    position: relative;
    z-index: 10;
    margin-top: 50px;
    margin-right: 90px;
}

.img_hero::before {
    background-image: url(../imgs/group21.png);
    background-repeat: round;
    background-size: cover;
    width: 196px;
    content: "";
    height: 196px;
    right: -87px;
    position: absolute;
    top: -87px;
    z-index: -5;
}

@media (max-width: 992px) {
    .hero.container {
        padding-top: 60px;
        padding-bottom: 65px;
        min-height: 865px;
    }
}

@media (max-width: 768px) {
    .hero.container {
        min-height: 313px;
        padding-top: 48px;
    }

    .hero.container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .img_hero {
        margin-top: 25px;
    }

    .img_hero::before {
        width: 79px;
        height: 62px;
        top: -30px;
        right: -36px;
    }

    .img_group {
        max-width: 79px;
        margin-top: 25px;
        left: 37%;
    }

    .hero h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 187.5%;
        text-align: center;
        max-width: 293px;
    }
}
