.project {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project p {
    color: #525252;
    max-width: 497px;
    font-size: 14px;
    line-height: 187.5%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.gallery_img {
    min-width: 306px;
    margin: 5px;
}

.one {
    max-width: 383px;
}

.two {
    max-width: 352px;
}

.three {
    max-width: 246px;
}

.four {
    max-width: 401px;
}

.five {
    max-width: 469px;
}

@media (max-width: 992px) {
    .gallery_img {
        max-width: 384px;
    }

    .gallery {
        justify-content: center;
    }
}