.thematic_block_img {
    max-width: 195px;
    m5px
}

.thematic_block {
    display: flex;
}

.thematic_item a {
    padding: 7px 26px 8px 26px;
    border: none;
    font-size: 14px;
    line-height: 187.5%;
    color: var(--white);
    margin-right: 16px;
}

.thematic_item span {
    font-size: 14px;
    line-height: 187.5%;
}

.thematic_item h6 {
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
}

.btn_blue {
    background-color: var(--blue);
}

.btn_black {
    background-color: var(--black);
}

.btn_orange {
    background-color: #FF7C32;
}

.btn_green {
    background-color: #23A54F;
}

.btn_purple {
    background-color: #9921C3;
}